.hero {
    background: $white;
    height: 43rem;
    &-wave {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 4700px;
    }
}

