.hero {
    background: $white;
    height: 55rem;
    position: relative;
    &-wave {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        //start-animation
        bottom: 100%;
        display: flex;
        justify-content: center;
        width: 4700px;
        transition: all 1s linear;
    }
    &-content {
        display: flex;
        height: 100%;
        padding-top: 5rem;
    }
    &-title {
        width: 50%;
        padding: 2rem;
        padding-right: 6rem;
        // transform: translateY(20%);
        // opacity: 0;
        // visibility: hidden;
        // transition: all 1s ease-in-out;
    }
    &-main-title {
        @include adaptiv-font(3.4, 2);
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
    &-sub-title {
        @include adaptiv-font(1.2, 1);
        line-height: 2rem;
        letter-spacing: 1.2px;
    }
    &-form {
        width: 50%;
        padding: 0 6rem;

        form {
            padding: 1rem 2rem;
            background: $white;
            box-shadow: $main-shadow;
            border-radius: 1.4rem;
            width: 24rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &.start-animation {
        .hero-wave {
            bottom: 0;
            animation-delay: 6s;
        }
        .hero-title {
            @include animation-slide-up(1s, 1s);
            // transform: translateY(0);
            // opacity: 1;
            // visibility: visible;
        }
        .hero-sub-title {
            @include animation-slide-up(1s, 1.5s);
        }
        .hero-form {
            @include animation-slide-up(1s, 1s);
        }
    }
}