.hero {
    background: $white;
    height: 55rem;
    position: relative;
    &-wave {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 4700px;
        transition: all 1s linear;
    }
    &-content {
        display: flex;
        height: 100%;
        padding-top: 5rem;
        @include breakpoint($mini-desk) {
            padding-top: 2rem;
        }
        @include breakpoint($tablet) {
            flex-direction: column;
            padding-top: 0.5rem;
        }
    }
    &-title {
        width: 50%;
        padding: 2rem;
        padding-right: 6rem;
        @include breakpoint($mini-desk) {
            padding: 1rem 2rem;
        }
        @include breakpoint($tablet) {
            width: 100%;
            text-align: center;
            padding: 1rem;
        }
        span {
            color: $primary;
        }
    }
    &-main-title {
        @include adaptiv-font(3.4, 2);
        line-height: 4.5rem;
        margin-bottom: 4rem;
        @include breakpoint($tablet) {
            margin-bottom: 1rem;
            line-height: 3.5rem;
        }
        @include breakpoint($mobile) {
            line-height: 2.5rem;
        }
    }
    &-text {
        @include adaptiv-font(1.2, 0.9);
        line-height: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: $font;
        color: $text;
    }
    &-form {
        width: 50%;
        padding: 0 6rem;
        @include breakpoint($mini-desk) {
            padding: 0 3rem;
        }
        @include breakpoint($tablet) {
            width: 100%;
            @include flex;
        }

        form {
            padding: 1rem 2rem;
            background: $white;
            box-shadow: $main-shadow;
            border-radius: 1.4rem;
            width: 24rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}