.order {
    background: $primary;
    height: 500px;
    &-inner {
        width: 100%;
    }
    &-content {
        @include flex-column;
        position: relative;
        width: 100%;
    }
    &-title {
        @include adaptiv-font(3, 2);
        display: block;
        width: 50%;
        text-align: center;
        color: $white;
        line-height: 4.5rem;
        margin-top: -6rem;
        margin-bottom: 4rem;
    }
    &-owl {
        position: absolute;
        z-index: 1;
        top: 5rem;
        left: 16rem;
        animation: peep-out 3s ease infinite alternate;
        &-left-eye,
        &-right-eye {
            width: 10px;
            height: 10px;
            background: $black;
            border-radius: 50%;
            animation: blink 1.75s linear 0s infinite;
        }
        &-right-eye {
            position: absolute;
            top: 40px;
            left: 35px;
        }
        &-left-eye {
            position: absolute;
            top: 40px;
            left: 95px;
        }
    }
    &-form {
        position: relative;
        form {
            height: 445px;
            width: 745px;
            background: $white;
            box-shadow: $main-shadow;
            border-radius: 1.4rem;
            display: block;
            position: relative;
            z-index: 2;
        }
    }
}

@keyframes peep-out {
    0% {
        left: 0rem;
        transform: rotate(0deg);
    }
    25% {
        left: 0rem;
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-45deg);
        left: -6rem;
    }
    100% {
        transform: rotate(-45deg);
        left: -6rem;
    }
}
@keyframes blink {
	0% {transform: rotateX(0deg);}
	10% {transform: rotateX(0deg);}
	20% {transform: rotateX(0deg);}
	30% {transform: rotateX(0deg);}
	40% {transform: rotateX(0deg);}
	50% {transform: rotateX(90deg);}
	60% {transform: rotateX(0deg);}
	70% {transform: rotateX(0deg);}
	80% {transform: rotateX(0deg);}
	90% {transform: rotateX(0deg);}
	100% {transform: rotateX(0deg);}
}